<div class="nav-buttons {% if not back %}nav-buttons_reversed{% endif %}">
    {% if back %}
    <a
        class="nav-buttons__back"
        href="/step-{{ back }}"
        hx-target="main"
        hx-push-url="true"
    >Go Back</a>
    {% endif %}
    <button
        type="submit"
        class="nav-buttons__next"
        hx-post="/step-{{ next }}"
        {% if next == 4 %}
        hx-target="closest .content"
        hx-swap="outerHTML"
        {% else %}
        hx-target="main"
        {% endif %}      
        hx-target-error="#form-fields"
        hx-push-url="true"
    >{% if next == 4 %}Confirm{% else %}Next Step{% endif %}</button>
</div>