.toggle-container {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--blue-100);
    padding: 1rem 0;
}

.toggle-container__span {
    color: var(--grey-500);
    font-weight: 500;
}

.toggle-container__span_active {
    color: var(--blue-950);
}

.toggle {
    --toggle-width: 2.5rem;
    --toggle-height: 1rem;
    --circle-size: 0.7rem;
    --distance: 1.5rem;
    display: flex;
    align-items: center;
}

.toggle__label {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: var(--toggle-width);
    height: var(--toggle-height);
    border-radius: 0.5rem;
    background-color: var(--blue-950);
}
.toggle__label::after {
    content: '';
    position: absolute;
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    left: calc((var(--toggle-width) - var(--circle-size) - var(--distance)) / 2);
    background-color: var(--white);
}

.toggle__label > span {
    visibility: hidden;
}

.toggle__input {
    appearance: none;
}
.toggle__input:focus-visible + .toggle__label::after {
    outline: auto;
}
.toggle__input:checked + .toggle__label::after {
    transform: translateX(var(--distance));
}