{% macro input(type, name, placeholder, label, value) %}
<div class="input">
    <div class="input__header">
        <label class="input__label" for="{{ name }}">{{ label }}</label>
        {% if name in errors %}
        <span class="input__error">
            {% if name == "email" %}
            Not a valid email
            {% else %}
            The field is required
            {% endif %}
        </span>   
        {% endif %}
    </div>
    <input
        type="{{ type }}"
        class="input__input {% if name in errors %}input__input_error{% endif %}"
        id="{{ name }}"
        name="{{ name }}"
        autocomplete="{{ name }}"
        placeholder="{{ placeholder }}"
        value="{{ value }}"
    >
</div>
{% endmacro %}